.wrapper{
    width: 80%;
    margin: 0 auto;
}

.political{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.political-item{
    width: 250px;
    margin: 10px;
    flex-grow: 0;
    align-self: flex-end;
    box-shadow: 9px 9px 14px -9px black;
}

.political-item .image img{
    width: 100%;
    float: left;
}
.none{
    display: none;
}